.container{
 background-color: gray;
 width: 1196px;
 height: 150px;
 border: solid 2px white;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

@media screen and (max-width: 972px){
    .container{
        font-size: 25px;
    }
    .container svg{
        height: 70px;
        width: 70px;
    }
}